<p id="notice"><%= notice %></p>

<% unless @profile.avatar_url.nil? %>
  <%= image_tag @profile.avatar_url(:profile_pic) %>
  <br />
<% end %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_url %>
