<center><p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Category</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= image_tag listing.avatar_url(:thumb) %><td>
        <td><%= listing.category.name %></td>
        <td>$<%= listing.price %></td>
        <td><%= link_to 'Show', listing, class: 'btn btn-success btn-lg' %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-info btn-lg' %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary btn-lg' %></center>
