<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Category</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= image_tag listing.avatar_url(:thumb) %><td>
        <td><%= listing.category.name %></td>
        <td>$<%= listing.price %></td>
<<<<<<< HEAD
        <td><button type="button" class="btn btn-info btn-text"><%= link_to 'Show', listing %></button></td>
        <td><button type="button" class="btn btn-warning btn-text"><%= link_to 'Edit', edit_listing_path(listing) %></button></td>
        <td><button type="button" class="btn btn-danger btn-text"><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
=======
        <td><%= link_to 'Show', listing, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
>>>>>>> bf3029e824a6ec9abc73bc4fe9616b1338194d53
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<<<<<<< HEAD
<button type="button" class="btn btn-success btn-lg btn-text"><%= link_to 'New Listing', new_listing_path %></button>
=======
<%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary btn-xs' %>
>>>>>>> bf3029e824a6ec9abc73bc4fe9616b1338194d53
