<center><p id="notice"><%= notice %></p>

<% unless @listing.avatar_url.nil? %>
  <%= image_tag @listing.avatar_url(:profile_pic) %>
  <br />
<% end %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<p>
  <strong>Price: $</strong>
  <%= @listing.price %>
</p>

<p><%= link_to 'Buy Now!', new_charge_path, class: 'btn btn-success' %></p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %></center>
