<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<p>
  <strong>Asset url:</strong>
  <%= @photo.asset_url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
